
.footer{
    background-color: #112D57;

}

.contacts{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #fff;
    padding: 62px 224px;
}

.contacts__container{
  margin: 26px 0 0 0;
}

.contacts_list{
    list-style-type: none;
}
.contacts_items + .contacts_items {
    padding-top: 20px;
}

.contacts_list a{
    color: #fff;
}

.contacts__img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inform{
    display: flex;
    flex-direction: column;
}

.inform_adress{
    position: relative;
    padding-left: 48px;
    margin: 0 0 30px;
}

.inform_adress::before{
    content: url(../img/location.png);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.inform_phone{
    position: relative;
    padding-left: 38px;
    margin: 0 0 44px;
}

.inform_phone::before{
    content: url(../img/phone.png);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.contacts_icons{

}



