.operations-container{
    padding: 110px 0 162px ;
}

.operations__img{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-right: 100px;
}
.operations__content{
    width: 50%;
}

.operations_title{
    @include title_small;
    text-align:start;
    max-width: 524px;
    margin:  0 0 48px;
}

.operations_text{
    font-size: 16px;
    line-height: 20px; 
    font-weight: bold;
    max-width: 500px;
    margin: 0 0 38px;
}

.operations_button_pr{
    @include button_primary;
}


@media (max-width:780px) {
    .container_large{
        flex-direction: column;
    }

    .operations-container{
        padding: 0;
    }
    .operations__content{
        width: 374px;   
    } 
    .operations_text{
        text-align: start;
    }
    .operations__img {
        width: 462px;
        align-items: center;
        padding: 98px 0 0;
        order: 1;
        padding-right: 0;

       
    }  
    .operations_title{
       font-size: 0px; 
    }

    .operations_title:after{
        @include title_small;
        content: 'OpenType features and Variable fonts';
        text-align:start;
        max-width: 524px;
        margin:  0 0 48px;
    }
    
    .operations_button_pr{
        padding: 18px 104px;
        margin: 0 auto;
    }

    
}




