.process-container{
    padding: 110px 0 160px; 
}
 

.process_title{
    @include title_small;
    text-align:start;
    margin: 0 0 46px;
}

.process_text{
    font-size: 16px;
    line-height: 20px; 
    font-weight: bold;
    margin: 0 0 36px;
    max-width: 500px;
}
.process__img {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-left: 100px;
}

.process_button_wh{
    @include button;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    color: #30D7BA;
    margin: 0 10px 0 0;
    border: 1px solid #30D7BA;
}

.process_button_pr{
    @include button_primary;
    margin: 0 10px 0 0;
}


@media (max-width:524px){
    .container_large{
        flex-direction: column;
        max-width:338px;
        order: 0;
    }

    .process__img {
       width: auto;
       padding-left: 0;
       margin: 0 auto;
       padding: 98px 10px 0;
    }

    .process_button_wh{
        margin: 22px 0 0;
        padding: 18px 108px;
    }
    .process_button_pr{
        margin: 0;
        padding: 18px 104px;
    }
}