.solution__content{
  margin-left: 20px;
}

.solution__content p{
    max-width: 302px;
    padding: 47px 0 38px;
}

.solution_title{
    @include title_small;
    max-width: 374px;
    text-align: start;
}

.solution-button_pr{
    @include button_primary;
    margin: 0 7px 0 0;
    padding: 16px 42px;
}

.solution-button_wh{
    @include button;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    color: #30D7BA;
    border: 1px solid #30D7BA;
    padding-right: 70px;
    padding: 16px 42px;
}

.solution_img{
    display: flex;
    padding: 74px 0 124px ;
    width: 762px;
    height:546px;
}

@media (max-width:780px) {
    
    .container_large{
        flex-direction: column;
        width: 384px;
        text-align: center;
    }

    .solution__content{
        padding: 0 0 0 10px;
        
    }
    .solution_title{
        text-align: center;
    }
    
    .solution_img {
        display: flex;
        padding-left: 0;
        align-items: center;
        padding: 98px 10px 0;
        width: 464px;
        height: 256px;
        order: 0;
    } 

    .solution-button_pr{
        margin: 0;
        padding: 18px 104px;
    }

    .solution-button_wh{
        margin: 22px 0 0;
        padding: 18px 108px;
    }

}